In [1]:
import pandas as pd

In [2]:
import numpy as np

In [8]:
from fuzzywuzzy import fuzz

In [9]:
df1=pd.DataFrame({'A':[1,3,2],'B':[2,2,3],'C':['aad','aac','aad']})

In [10]:
df2=pd.DataFrame({'A':[1,2,2],'B':[2,2,3],'C':['aad','aab','acd']})

In [11]:
df1

   A  B    C
0  1  2  aad
1  3  2  aac
2  2  3  aad

In [12]:
df2

   A  B    C
0  1  2  aad
1  2  2  aab
2  2  3  acd

In [13]:
mergedf1=df1.merge(df2,on=['A','B'])

In [14]:
mergedf1

   A  B  C_x  C_y
0  1  2  aad  aad
1  2  3  aad  acd

In [15]:
mergedf1['ratio']=[fuzz.ratio(x,y) for x, y in zip(mergedf1['C_x'],mergedf1['C_y'])]

In [16]:
mergedf1

   A  B  C_x  C_y  ratio
0  1  2  aad  aad    100
1  2  3  aad  acd     67